{% extends 'base.html.twig' %}

{% block body %}
    <div class="main_container {{ main_container_section|default('') }}" data-animation="{{ animation_data|default('') }}">
        <div class="navigation_container">
            <div class="navigation_wrapper">
                {% include '_components/sidebar.html.twig' %}
            </div>
        </div>

        <article class="content_container overflow-scroll">
            {% include '_components/user_info.html.twig' %}

            <div class="content_wrapper">
                {% block content %}
                {% endblock content %}
            </div>
        </article>
    </div>
{% endblock body %}