//Subsections common layout.
// Imported in _layout.scss
.subsection-layout{

  .content_container {

    .content_wrapper {
      justify-content: initial;
      align-items: initial;
      .header {
        height: auto;
        margin-bottom: 1rem;
        .call_to_action{
          margin-top: -9px;
        }
      }
      .content {

        min-height: initial;
        height: auto;
        width: 100%;

        justify-content: initial;
        align-items: initial;

        padding: 1.7rem 1.5rem;
        margin-bottom: 1.5rem;
      }
    }
  }
}